*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-size:18px;
}

body{
    background-color: #D30909;
    font-weight: 600;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url(../fonts/BAHNSCHRIFT.TTF);
    font-style: normal;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    color: white;
    align-items: center;
}

header h1{
    font-size: 2rem;
    font-family: 'Bahnschrift';
    font-weight: 300;
}

header .image_store{
    max-width: 390px;
}

header .phone_etap1{
    max-width:350px;
}



.btn{
max-width:280px;
height: 70px;
}

.btn span{
    font-size: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
}


/* carousel client*/

.brands {
    width: 100%;
    background-color: #F8F8F8;
}

.brands_slider_container {
    width: 100%;
}

.brands_item img {
    max-width: 150px;
    max-height: 100px;
    margin: 20px;
}
.logo{
    max-width: 150px;
}
.brands_nav {
    position: absolute;
   
    transform: translateY(-30%);
    padding: 5px;
    cursor: pointer
}

.brands_nav:hover i {
    color: #878686
}

.brands_prev {
    left: 10px
}

.brands_next {
    right: 10px
}
/*section pourqoui utiliser application  ini */
h2{
    font-family: 'Bahnschrift';
    
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.text_why_us,.text_step2,.text_step3,.text_step4,.text_step5,.text_step6{
    
    max-width: 500px;
    min-width: 100px;
    margin: auto;
}
.text_step7{
    max-width: 400px;
    min-width: 100px;
    margin: auto;
}
.why_us img{
    max-width: 100px;
    
}

.why_us .div-icon{
    width: 150px;
    height:  120px;
    margin:  auto;
}

.p-why_us ,.para_step8{
max-width: 300px;
}

/*section etape 2*/

.step2{
    background-color: #F8F8F8;
    align-items: center;
}

.step2 img{
    max-width: 300px;
}

/*section etape 3*/
.phone_step3{
    max-width: 600px;
}

/*section etape 4*/
.step4{
    background-color: #F8F8F8;
}
.phone_step4{
    max-width: 900px;
    position: relative;
    left: 5%;
}


/*section etape 5*/
.tablete_step5{
    max-width: 700px;
}
/*section etape 6*/
.step6{
    background-color: #F8F8F8;
}
.phone_step6{
    max-width: 800px;
}
/*section etape 7*/
.phone_step7{
    max-width: 300px;
    min-width: 200px;
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
}
.text_step7{
   margin: auto;
}
/*section etape 8*/
.step8{
    background-color:#F8F8F8;
}
.phone_step8{
    max-width: 80%;
}
/** review**/
.review img{
    max-width: 100px;
}

.p-review{
    max-width: 400px;
}

.review span{
    font-size: 9px;
}

/* aside*/

aside{
    background-color: #D30909;
}
.text_aside{
    max-width: 500px;
    margin: auto;
}

.btn-aside{
    max-width: 250px;
}

/* footer */
footer a{
    text-decoration: none;
    color: black;
}

@media(max-width:769px){
    header{
        padding:none;
    }
    .phone_etap1{
    width: 200px;
    }
    .phone_step6{
        max-width: 600px;
    }
    .phone_step4{
        max-width: 200px;
    }
    .txt-header{
        text-align: center;
    }
    .btn-header{
        margin: auto;
        max-width: 280px;
    }
   
}

@media(max-width:909px){
    header{
        padding: none;
    }
    .phone_step6{
        max-width: 300px;
    }
    .phone_step4{
        max-width: 300px;
    }
    .phone_step3{
        max-width: 390px;
    }
    .tablete_step5{
        max-width: 399px;
    }
    .btn-header{
        margin: auto;
        max-width: 280px;
    }
}

@media(max-width:390px){
    .phone_step6{
        max-width: 300px;
    }
    .phone_step4{
        max-width: 300px;
    }
    .phone_step3{
        max-width: 300px;
    }
    .tablete_step5{
        max-width: 250px;
    }
}

@media(max-width:300px){
    body{
        font-size: 10px;
        overflow-x: hidden;
    }
    .phone_step6{
        max-width: 220px;
    }
    .phone_step4{
        max-width: 220px;
    }
    .phone_step3{
        max-width: 220px;
    }
    .tablete_step5{
        max-width: 200px;
    }
    .btn{
        width: 220px;
        height: 70px;
        }
}